<!DOCTYPE html>
<html lang="en">
<title></title>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/common.css"/>
    <title></title>
</head>

<body>
<div class="wrapper">
    <div class="top align-m bg-white"><img src="../static/images/logo.png">华研问诊记录表</div>
    <div class="area">
        <h3>基本信息</h3>
        <div class="base-info-cont bg-white">
            <table class="base-info">
                <tr>
                    <td colspan="4">
                        <label>填表日期</label>：<span class="createTime">2019-9-1 16:37</span>
                    </td>
                </tr>
                <tr>
                    <td><label class="margin-r-32">姓</label>名：<span class="name">李玉选</span></td>
                    <td><label class="margin-r-32">性</label>别：<span class="sex"></span></td>
                    <td><label class="margin-r-32">电</label>话：<span class="phone"></span></td>
                    <td><label>会员号</label>：<span class="vip"></span></td>
                </tr>
                <tr>
                    <td><label class="margin-r-32">职</label>业：<span class="job"></span></td>
                    <td><label>出生日期</label>：<span class="birthday"></span></td>
                    <td><label>婚姻状况</label>：<span class="marriage"></span></td>
                    <td><label>过敏史</label>：<span class="allergy"></span></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label class="justify">医院确认的疾病</label>：<span class="disease"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label class="justify">现阶段是否在服药</label>：<span class="takemedicine"></span>  
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label class="justify">您最想改善的身体问题是</label>：<span class="healthquestion"></span>
                    </td>
                </tr>
                
            </table>
            
        </div>
    </div>
    <div class="area sense-organs">
        <h3>五官情况</h3>
        <table class="table-list bg-white">
            <tbody>
                <!-- <tr>
                    <td>眼</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr>
                    <td>耳</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr>
                    <td>鼻</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr>
                    <td>口</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr>
                    <td>舌</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr> -->
            </tbody>

        </table>
    </div>
    <div class="area internal-organs">
        <h3>五脏情况</h3>
        <table class="table-list bg-white">
            <tbody>
                <!-- <tr class="liver">
                    <td>肝</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr class="heart">
                    <td>心</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr class="spleen">
                    <td>脾</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr class="lung">
                    <td>肺</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr>
                <tr class="kidney">
                    <td>肾</td>
                    <td><span>干涩</span><span>干涩</span></td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="area bodywaste">
        <h3>两便状况</h3>
        <div class="cont bg-white">
            <!-- <span>尿频多</span><span>尿不畅</span><span>便秘</span><span>便稀</span> -->
        </div>
    </div>
    <div class="area physiology">
        <h3>生理状况</h3>
        <div class="cont bg-white">
            <!-- <span>尿频多</span><span>尿不畅</span><span>便秘</span><span>便稀</span> -->
        </div>
    </div>
    <div class="area emotion">
        <h3>情志状况</h3>
        <div class="cont bg-white">
            <!-- <span>尿频多</span><span>尿不畅</span><span>便秘</span><span>便稀</span> -->
        </div>
    </div>
    <div class="area other">
        <h3>其它躯体反应</h3>
        <div class="cont bg-white">
            <!-- <span>尿频多</span><span>尿不畅</span><span>便秘</span><span>便稀</span> -->
        </div>
    </div>

</div>
</div>
</body>
<script type="text/javascript" src="../static/js/index.js"></script>

</html>